body {
  font-family: ralewayregular, sans-serif, Arial;
}
header {
    background-color: black;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(69,69,69);

}
.header {
    max-width: 1056px;
    text-transform: uppercase;
    color: white;
    margin: auto;
}
.header p, .header li {
    display: inline;
    padding-top: 13px;
}
.logo p {
    font-family: ralewaysemibold, sans-serif, Arial;
    font-size: 14px;
    float: left;
}
.logo span {
    font-family: ralewaybold, sans-serif, Arial;
    color: rgb(39,199,171);
}
.header li {
    font-size: 14px;
    float: right;
    padding-left: 40px;
    font-family: ralewaybold, sans-serif, Arial;
}
.jumbotron {
    background: linear-gradient(rgb(250,250,250), rgb(240,240,240), rgb(205,205,205));
    height: 500px;
    margin-bottom: 28px;
}
.max_width {
    margin: 0 auto;
    max-width: 1056px;
}
.right_jumbo, .left_jumbo {
    width: 500px;
    height: 500px;
    text-align: center;
    display: inline-block;
}
.right_jumbo {
    float: right;
}
/*Stylowanie slidera*/
.hide {
    display: none;
}
.slide {
    margin: 0 auto;
    padding-top: 100px;
}
/*koniec stylowania slidera*/
.right_jumbo * {
    vertical-align: middle;
}
.right_jumbo h1 {
    font-size: 40px;
    font-family: ralewaymedium, sans-serif, Arial;
    padding-bottom: 40px;
    padding-top: 140px;
    text-transform: uppercase;
}
.right_jumbo span:nth-child(2), .right_jumbo span:nth-child(4) {
    font-family: ralewaybold, sans-serif, Arial;
    color: rgb(39,199,171);
}
.right_jumbo p {
    font-family: ralewayregular, sans-serif, Arial;
    font-size: 14px;
    line-height: 22px;
}
.right_jumbo div {
    width: 250px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(36, 186, 160);
    margin: 0 auto;
    margin-top: 30px;
}
.right_jumbo div p {
    font-family: ralewaymedium, sans-serif, Arial;
    font-size: 1.5rem;
}
.top_graphics {
    height: 220px;
    width: 330px;
    display: inline-block;
    position: relative;
}
.pictures {
    height: 350px;
}

#clair {
    background-image: url("graphics/box1_img.jpg");
}
#margarita {
    margin: 0 28px 0 28px;
    background-image: url("graphics/box2_img.jpg");
}
#inputs {
    line-height: 110%;
    border: 2px solid rgb(241,241,241);
    box-sizing: border-box;
    vertical-align: top;
    padding: 15px;
    font-size: 0.95rem;
}
.green_underline {
    width: 138px;
    height: 7px;
    background-color: rgb(39,199,177);
    margin-top: 4px;
    margin-bottom: 15px;
}
.white_bg {
    width: 330px;
    height: 62px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 15px;
    padding-left: 20px;
}
.gray_bg {
    width: 100%;
    background-color: rgb(241,241,241);
    height: 730px;
}
.price_list_header h4, .contact_header h4 {
    font-family: ralewaymedium, sans-serif, Arial;
    font-size: 16px;
}
.green_underline_2 {
    width: 300px;
    height: 7px;
    background-color: rgb(39,199,177);
    margin-top: 4px;
    margin-bottom: 15px;
}
.price_list {
    height: 500px;
    width: 326px;
    display: inline-block;
    border: 2px solid rgb(214,214,214);
    background-color: white;
}
.tariff_2 {
    margin: 0 28px 0 28px;
}
.circle_outside {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    border: 2px solid rgb(214,214,214);
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: -40px;
    position: relative;
}
.circle_inside {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(214,214,214);
    margin: 0 auto;
    margin: 13px 0 0 13px;
    position: absolute;
}
.price_list h5 {
    font-family: ralewaymedium, sans-serif, Arial;
    font-size: 18px;
    text-align: center;
    color: rgb(39,199,177);
    line-height: 80px;
}
.price_circle {
    border-radius: 50%;
    width: 126px;
    height: 126px;
    border: 2px solid rgb(241,241,241);
    color: rgb(194,194,194);
    margin: 0 auto;
    font-family: ralewaybold, sans-serif, Arial;
    text-align: center;
}
.price_circle span {
    font-size: 36px;
}
.price_circle span span {
    font-size: 16px;
    line-height: 20px;
    vertical-align: super;
}
.features {
    width: 326px;
    height: 46px;
    text-align: center;
    background-color: rgb(228,228,228);
}
.features:nth-child(even) {
    background-color: rgb(241,241,241);
}
.features_blank {
    background-color: white !important;
}
.button {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  background-color: rgb(39,199,177);
  color: white;
  font-family: ralewaymedium, sans-serif, Arial;
  margin: 0 auto;
  align-items: center;
  text-transform: uppercase;
}
.button_buy {
    height: 34px;
    width: 120px;
    line-height: 34px;
    bottom: -20px;
    position: relative;
}
.contact {
  width: 100%;
  background-color: #fff;
  height: 730px;
}
.contact_form_left {
  width: 616px;
  float: left;
  display: inline-block;
}
form input, form textarea {
  width: 90%;
  margin-bottom: 25px;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-family: ralewaylight, sans-serif, Arial;
  padding: 5px;
  border: 1px solid rgb(39,199,177);
}
form textarea {
  height: 160px;
}
.contact_form_right {
  width: 430px;
  display: inline-block;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
  color: rgb(200,200,200);
}
.contact_form_right img {
  margin: 0 auto;
  display: block;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 5px 0 0;
  border: 1px solid rgb(39,199,177);
  vertical-align: middle;
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
  background: url(graphics/form_ok.jpg) center no-repeat;
  background-size: contain;
}
label p {
  display: inline-block;
  width: 275px;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 130%
}
.button_send {
  margin-top: 25px;
  height: 52px;
  font-size: 1.5rem;
  cursor: pointer;
}
.footer {
  clear: both;
  margin: 100px 0 70px 0;
}
.copyright {
float: left;
}
#footer_logo {
  display: inline-block;
  margin-left: 40px;
}
#footer_logo p {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.footer_right {
  display: inline-block;
  float: right;
}
