header {
    background-color: black;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(69,69,69);

}
.header {
    max-width: 1056px;
    text-transform: uppercase;
    color: white;
    margin: auto;
}
.header p, .header li {
    display: inline;
    padding-top: 13px;
}
#logo p {
    font-family: ralewaysemibold, sans-serif, Arial;
    font-size: 14px;
    float: left;
}
#logo span {
    font-family: ralewaybold, sans-serif, Arial;
    color: rgb(39,199,171);
}
.header li {
    font-size: 14px;
    float: right;
    padding-left: 40px;
    font-family: ralewaybold, sans-serif, Arial;
}
.jumbotron {
    background-image: url("graphics/jumbotron.jpg");
    overflow-x: hidden;
    overflow-y: visible;
    height: 499px;
    background-position: center;
}
.max_width {
    margin: 0 auto;
    width: 1056px;
}
.right_jumbo {
    width: 435px;
    height: 499px;
    padding: 0 116px 0 575px;
    text-align: center;
}
.right_jumbo * {
    vertical-align: middle;
}
.right_jumbo h1 {
    font-size: 40px;
    font-family: ralewaymedium, sans-serif, Arial;
    padding-bottom: 40px;
    padding-top: 140px;
    text-transform: uppercase;
}
.right_jumbo span:nth-child(2), .right_jumbo span:nth-child(4) {
    font-family: ralewaybold, sans-serif, Arial;
    color: rgb(39,199,171);
}
.right_jumbo p {
    font-family: ralewayregular, sans-serif, Arial;
    font-size: 14px;
    line-height: 22px;
}
.right_jumbo div {
    width: 250px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(39, 199, 171);
    margin: 0 auto;
    margin-top: 30px;
}
.right_jumbo div p {
    text-transform: uppercase;
    text-align: auto;
    padding-top: 15px;
    font-family: ralewaymedium, sans-serif, Arial;
    font-size: 24px;
    color: white;
}
.top_graphics {
    height: 220px;
    width: 330px;
    display: inline-block;
   border: 1px red solid;
}
#clair {
    background-image: url("graphics/box1_img.jpg");

}
#margarita {
    margin: 0 20px 0 20px;
}
